@model Web.SocialViewModel

    <span class="inline-flex sm:ml-auto sm:mt-0 sm:justify-start mt-4 justify-center @Model.Social">
        <a href="https://www.instagram.com/nickywaites/" aria-label="instragram" class="ml-3 sm:ml-1 hover:text-pink-600 " target="_blank" rel="noreferrer noopener" >
            <span class="fa-stack ">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
        </a>
        <a href="https://www.linkedin.com/in/nicky-waites/" aria-label="linkedin" class="ml-3 sm:ml-1 hover:text-blue-500 " target="_blank" rel="noreferrer noopener">
            <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
            </span>
        </a>
        <a href="https://stackoverflow.com/users/98589/nicky-waites" aria-label="stackoverflow" class="ml-3 sm:ml-1 hover:text-orange-500" target="_blank" rel="noreferrer noopener">
            <span class="fa-stack ">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fab fa-stack-overflow fa-stack-1x fa-inverse"></i>
            </span>
        </a>
        <a href="https://github.com/nickywaites" aria-label="github" class="ml-3 sm:ml-1 hover:text-gray-600" target="_blank" rel="noreferrer noopener">
            <span class="fa-stack ">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fab fa-github-square fa-stack-1x fa-inverse"></i>
            </span>
        </a>
        <a href="https://jsfiddle.net/user/nickywaites/fiddles/" aria-label="jsfiddles" class="ml-3 sm:ml-1 hover:text-blue-700" target="_blank" rel="noreferrer noopener">
            <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fab fa-jsfiddle fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </span>